        * {
            margin: 0;
        }
        
        * {
            padding: 0;
        }
        
        body {
            serif;
        }
        
        height: 57px;
        background: #fff;
        z-index: 2;
        .logo {
            h
        }
        
        margin-top: 9px;
        mar border-top-left-radius: 20px !impo bord border-bottom-right-radius: 0 !impo box-s .input border: 1xp solid blue;
        margin: border-bottom-left-radius: 0px !import border-t cursor: pointer;
    }
    display: i
}
black;

}
.menu-bar {
    width: 40%;
    float: right;
}
.menu-bar ul {
    display: inline
}
border-left: 1px solid #fff;
list-style-type: text-align: center;
background-color :
}
16px;
font-weight: bold;
n: none;

}
g-basket {
    margin-right: 5px;
    gin-top: 100px;
    width: 450px;
    -radius: 5px;
}
orm label {
    display: inline-block;
    width: 50%;
}
.form input {
    border-radius: 4px;
    display: block;
    width: 70%;
    margin-bottom: 8px;
}
background-color: purple;
width: 25%;

}
@media(max-width:768px) {
    .t border-bottom: 0;
}
width: 100%;

}
width: 100%;

}
margin: 10px 0;
width: .menu-bar ul li {
    height:
}
.fa-shopping-basket {
    margin-ri .side-menu width: 15%;
    font-size: z-index: 2;
    background-c .side-menu ul;
}
list-style-type: none;
font-weight: bo 0px;
cursor: pointer;

}
.side-menu ul li:hover {
    color: aquamarine #menu-btn,
    nt-size: 30px;
    margin: 10px;
    lay: none;
}
media (max-width:900px) {
    .side-menu {
        z-index: 20;
        top: 133px;
        font-size: 12px;
        display: none;
        e-menu ul li ul {
            top: 133px;
            tn {
                display: block;
                dth: 85%;
                margin-left: 15%;
            }
            box-shadow: 1px 1px 4px 1px r .carousel-indicator {
                z @m width: 100%;
                mar
            }
            margin: 50px 0;
        }
        width: padding: 20px 0;
        transit
    }
    transform: scale(1.1);
}
box {
    background width: 180px;
    padding: 4p margin-bottom: 30px;
    display: fle
}
content: '';
border-top: 40p position: absolute;
display: flex;
margin-left: 170px;

}
img {
    width: 100%;
    .overlay-right {
        ity: 0;
        position: absolute;
        left: 0;
        width: 70px;
        ckground-color: #fff;
        color: #000;
        ht: 35px;
        font-size: 20px;
        top: 5%;
        margin-bottom: 5%;
        .overlay-right .btn-second der: none !important;
        box-shadow: none !important .product-top:hover .overlay margin-left: 5%;
        transition: 0.5s;
        .s font-weight: bold;
        . red;
        font-weight: bold;
        he width: 30px;
    }
    .single-product .btn-pri back font-size: 15px;
    borde
}
margin-top: 30px;
color: 15px;

}
margin-top: 30px;
margin-le #cart .tab border: solid 1px;
background-c height: 400px;
box-sizing: b width: 400px;

}
.product h3 {
    margin-left: 5px .price {
        round: red;
        padding: 10px 0;
        #top .offer {
            text-transform: uppercase;
        }
        color: white;
        #top ul.menu {
            text-align: right;
            ne;
        }
        display: inline-block;
        #top ul.men